<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garmin Health Api Flask</title>
</head>
<body>
    <h1>Garmin Health Api</h1>

    <section id="do_login" style="background: #ff111166">
        <h2>Please login first.</h2>
        <h2>==> <a href="/login">Login</a> <==</h2>
    </section>
    <section id="do_logout" style="background: #39c5bb66">
        <h2>You have logged in!</h2>
        <h4>User ID: <code id="user_id"></code></h4>
        <h4><a href="/logout">Click here to Logout</a></h4>
    </section>

    <section style="background-color: #39c5bb66">
        <h2>Query Time Range</h2>
        <div>
            From: <input type="datetime-local" id="start" name="start" value="2001-01-01T01:01"/>
            to <input type="datetime-local" id="end" name="end" value="2001-01-01T01:02"/>
    {#        <br />#}
            (= <code id="start_ts">00000</code> ~ <code id="end_ts">00000</code>)
            <input type="button" onclick="UserSetTime()" value="Set Time!" />
            <br /><br />
            Quick Set Start time:
            <button onclick="SetStartTimeUntilNow(15*60)" >15 Minutes</button>
            <button onclick="SetStartTimeUntilNow(60*60)" >60 Minutes</button>
            <button onclick="SetStartTimeUntilNow(3*60*60)" >3 hours</button>
            <button onclick="SetStartTimeUntilNow(12*60*60)" >12 Hours</button>
            <button onclick="SetStartTimeUntilNow(24*60*60)" >24 Hours</button>
        </div>
    </section>

    <section>
        <h2>Health APIs</h2>
        <ol id="links">
            <li><a raw_href="/api/health/daily_summaries">daily_summaries</a></li>
            <li><a raw_href="/api/health/third_party_daily_summaries">third_party_daily_summaries</a></li>
            <li><a raw_href="/api/health/epoch_summaries">epoch_summaries</a></li>
            <li><a raw_href="/api/health/sleep_summaries">sleep_summaries</a></li>
            <li><a raw_href="/api/health/composition_summaries">composition_summaries</a></li>
            <li><a raw_href="/api/health/stress_details_summaries">stress_details_summaries</a></li>
            <li><a raw_href="/api/health/user_metrics_summaries">user_metrics_summaries</a></li>
            <li><a raw_href="/api/health/pulse_ox_summaries">pulse_ox_summaries</a></li>
            <li><a raw_href="/api/health/respiration_summaries">respiration_summaries</a></li>
            <li><a raw_href="/api/health/health_snapshot_summaries">health_snapshot_summaries</a></li>
            <li><a raw_href="/api/health/heart_rate_variability_summaries">heart_rate_variability_summaries</a></li>
            <li><a raw_href="/api/health/blood_pressure_summaries">blood_pressure_summaries</a></li>
        </ol>
    </section>

    <script>
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
        }

        // login/out button
        let loggedIn = getCookie('oauth_token') !== undefined;
        document.getElementById('do_login').hidden = loggedIn;
        document.getElementById('do_logout').hidden = !loggedIn;

        document.getElementById('user_id').innerText = getCookie('user_id')
    </script>

    <script>
        // time selector
        const pad0 = (n) => n < 10 ? "0"+n : n
        const DateToInputString = (date) =>
             `${pad0(date.getFullYear())}-${pad0(date.getMonth()+1)}-${pad0(date.getDate())}T${pad0(date.getHours())}:${pad0(date.getMinutes())}`

        function SetStartTimeUntilNow(secondsFromEnd)
        {
            let end = new Date(document.getElementById("end").value);
            let start = new Date(end.getTime() - secondsFromEnd*1000);
            SetTime(start, end);
        }
        function UserSetTime()
        {
            SetTime(document.getElementById("start").value, document.getElementById("end").value);
        }
        function SetTime(startDate, endDate)
        {
            // update input box
            let start = new Date(startDate);
            let end = new Date(endDate);
            document.getElementById("start").value = DateToInputString(start);
            document.getElementById("end").value = DateToInputString(end);
            
            // update unix
            let start_ts = Math.round(start.getTime()/1_000.0);
            let end_ts = Math.round(end.getTime()/1_000.0);
            document.getElementById("start_ts").innerText = start_ts;
            document.getElementById("end_ts").innerText = end_ts;
            
            // update links
            let links = document.getElementById("links").getElementsByTagName('a')
            for(let i = 0; i < links.length; i++)
            {
                links[i].href = links[i].getAttribute('raw_href') + `?start=${start_ts}&end=${end_ts}`
            }
        }

        // Initial Default: 1day
        document.getElementById("end").value = DateToInputString(new Date());
        SetStartTimeUntilNow(24*60*60);
    </script>
</body>
</html>