<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ciph-garmin-api-research</title>
</head>
<body>
    <h1>ciph-garmin-api-research</h1>

    <h2 id="do_login">==> <a href="/login">Login</a> <==</h2>
    <h2 id="do_logout">You have logged in! <a href="/logout">Click here to Logout</a></h2>

    <h2>APIs</h2>
    <ol>
        <li><a href="/daily_summaries">daily_summaries</a></li>
        <li><a href="/third_party_daily_summaries">third_party_daily_summaries</a></li>
        <li><a href="/epoch_summaries">epoch_summaries</a></li>
        <li><a href="/sleep_summaries">sleep_summaries</a></li>
        <li><a href="/composition_summaries">composition_summaries</a></li>
        <li><a href="/stress_details_summaries">stress_details_summaries</a></li>
        <li><a href="/user_metrics_summaries">user_metrics_summaries</a></li>
        <li><a href="/pulse_ox_summaries">pulse_ox_summaries</a></li>
        <li><a href="/respiration_summaries">respiration_summaries</a></li>
        <li><a href="/health_snapshot_summaries">health_snapshot_summaries</a></li>
        <li><a href="/heart_rate_variability_summaries">heart_rate_variability_summaries</a></li>
        <li><a href="/blood_pressure_summaries">blood_pressure_summaries</a></li>
    </ol>

    <script>
        let loggedIn = document.cookie.search('oauth_token=') !== -1;
        document.getElementById('do_login').hidden = loggedIn;
        document.getElementById('do_logout').hidden = !loggedIn;
    </script>
</body>
</html>